body{
margin-top:0px;
background-image:url("../images/Ghost.jpg");



}


.wrapper {

			
            		background-position: 50% 0px;
            		width: 884px;
			        height:auto;
            	margin: 0px auto 0 auto;
            		text-align: center;
			box-shadow:0 0  15px #00FF00;			
				
}
.header {
width:auto;
height:auto;
background-color:#009B95;
}
.middle {
width:auto;
height:65%;
background-color:#7109AA;

}
.title {
font-family:'Lobster',cursive;
font-size:44px;



}
