body{
margin-top:0px;
background-color:#463E3F;



}


.wrapper {

			
            		background-position: 50% 0px;
            		width: 884px;
			        height:auto;
            	margin: 0px auto 0 auto;
            		text-align: center;
			box-shadow:0 0  15px #FDD017;			
				
}
.header {
width:auto;
height:auto;
background-color: #3BB9FF;
}
.middle {
width:auto;
height:100%;
background-color:#fff;

}
.title {
font-family:'Lobster',cursive;
font-size:44px;



}
